hr {
	border-color: #369;
}

.newTopicContainer {
	margin-top: 10px;
}

.newTopicBorder {
	border: 1px solid #369;
	padding: 10px 10px;
	background-color: rgba(255, 255, 255, 0.95);
}

.btnSubmitTopic {
	float: right;
	margin-top: 5px;
}

.newTopicDescription {
	float: right;
	margin-top: 15px;
}

.newTopic {
	float: left;
	z-index: 0;
}

.newTopic form p {
	margin-top: 5px;
}

.configuration {
	margin-bottom: 40px;
}

.configuration .nbConf1 label {
	margin-left: 25px;
}

#navbarColour {
	float: left;
}

.btnPreview,
.btnReset {
	margin-top: 5px;
}

.nbConf1 {
	margin-top: 20px;
}

.navbarColours {
	width: 30px;
}

.btnSubmit {
	margin-top: 5px;
	float: right;
}

.topicAlert {
	margin-top: 15px;
}